@model OnlineEditor.Models.SourceCode
<div align="center">
<button class="button-color" onclick="saveClick()" id="save" style="float: right;"><img src="/images/save.png" width="20" height="20" alt="nope"></button>
<div id="fileName">
    @Html.DisplayFor(model=>model.FileName)    
</div>
</div>
<div id="fileEditorDiv">    
    @Html.TextAreaFor(model=>model.sourceContent,  new { style = "width: 100%; height:95%;  float: right; resize: none", id="sourceCode" })                       
</div>
<div id="resultHandler">
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="js/jquery-linenumbers.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script>
    $(document).ready(function(){

        $(document).keydown(function(e){
        tabHandler(e);
        });    
    function tabHandler(e)
    {
        if(parseInt(e.keyCode) == 9 )
        {
            var pos=$('#sourceCode').prop("selectionStart");      
            var code = $("#sourceCode");
            var str=code.val();
            str=str.substring(0,pos)+"    "+str.substring(pos);
            document.getElementById("sourceCode").value=str;
            e.preventDefault();
        }
    }
         var fileNameLength=$("#fileName").text().trim().length>0; 
         if(fileNameLength<=0)
         {
            $("#fileName").text("No Files to be Execute!!!");
         }
    });

        $("#sourceCode").click(function(){            
         var fileName=$("#fileName").text().trim(); 
         $("textarea").height("91%");
         //make the div of result tab hidden
         var container=$("#resultHandler");
         container.hide();         

         if(fileName.indexOf("*")<=0 && fileName.length>0)
         {
             fileName+="*";
             //maximize the editor page after user clicks on it
             $("#fileName").text(fileName);
         }
        });
        
function saveClick()
{
    url="@Url.Action("SaveFile","FileOpsHandler")";
    var fileName=$("#fileName").text().replace("*","").trim();
    if(fileName.length!=0)
    {
    var code = $("#sourceCode").val();
    if(code.length>0)
    {
    $.post(url,{name:fileName,sourceCode: code},function(data){
        if(data.code==200)
            {
                $("#fileName").text(fileName);
            }
            else{
               alert(data.status);          
            }
    });
    }
    else
    {
        alert("cannot save empty contents in a file");
    }
    }
    else
    {
        alert("please create a file first");
    }
}
</script>

